body {
  padding-top: 20px;
}

table {
  margin: 0 auto;
}


.boxes {
  width: 500px;
}

img {
  width: 100%;
}

#right-box {
  text-align: center;
  background-color: rgb(240,240,240);

}

h1 {
  color: #252b3b;
  font-size: 1.9em;
}

p {
  color: #555;
  padding: 0px 20px 20px;
}

a {
  font-weight: bold;
  color: #252b3b;
  border: 2px solid #555;
  padding: 5px;
  text-decoration: none;
}

/*body {
    padding-top: 20px;
}
table {
    margin: 0 auto;
}
.boxes {
    width: 500px;
}
.right-box {
    text-align: center;
    background-color: rgb(240, 240, 240);
    height: 394px;
}
img {
    width: 100%;
}
h1 {
    color: #252b3b;
    font-size: 1.9em;
}
p {
    color: #555;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
a {
    font-weight: bold;
    color: #252b3b;
    border: 2px solid #555;
    padding: 5px;
    text-decoration: none;
}*/
