body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.jumbotron {
  background-image: url("../img/bg-office.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

#creatives h1 {
  margin: 0 auto;
  margin-top: 115px;
  font-size: 60px;
  max-width: 80%;
}

h1, h2, h3, h4 {
  font-family: Helvetica,sans-serif;
}

#photos {
  width: 90%;
  margin: 0 auto;
}

.box {
  margin-bottom: 5%;
  height: 290px;
  width: 100%;
}

.side {
  height: 600px;
  width: 100%;
}

/* CSS Below is for Aside and Phone View */

aside {
  background-color: #f0f0f0;
  padding: 5px 25px;
  margin-top: -30px;
}

aside h2 {
  margin: 50px 10px;
  font-size: 38px;
}

aside h3 {
  font-size: 24px;
  margin: 40px 0;
  padding-top: 30px;
}

aside h4 {
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 50px;
}

.silver {
  background-color: #fff;
  margin-bottom: 10px;
}

.platinum {
  background-color: #D7F8E5;
  margin-top: -45px;
  border-bottom: 1px solid black;
}

aside .row:first-of-type {
  border-bottom: 1px solid #ccc;
}

.features p:nth-child(1n+3) {
  font-weight: 700;
}

.features p:nth-child(1n+6) {
  color: grey;
  font-weight: 100;
}

.btn {
  background-color: #2E2E2E;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5;
  margin-bottom: 35px;
  margin-top: 15px;
}

.btn:hover {
  background-color: blue;
  color: white;
  border: 1px solid gray;
}

@media (max-width: 767px){
  body {
    width: 100%;
  }
}

span {
  font-size: 14px;
  color: #ccc;
}
